apiVersion: v1
kind: Service
metadata:
  name: user-api
  labels:
    app: user-api
    tier: application
spec:
  type: ClusterIP
  selector:
    app: user-api
  ports:
  - port: 8000
    targetPort: 8000
    name: http
    protocol: TCP
