apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-api
  labels:
    app: user-api
    tier: application
spec:
  
  replicas: 3
  
  selector:
    matchLabels:
      app: user-api
  template:
    metadata:
      labels:
        app: user-api
    spec:
        containers:
        - name: api
          image: taktuk/server_a-api:latest
          ports:
          - containerPort: 8000
            name: http  

         